.menu{
    height: 100vh;
    background-color: var(--main-charcoal);
    position: fixed;
    right: 0;
    top: 0;
    color: var(--main-white);
    
    // Ensure menu is on top of everything but below the toggle button if needed, 
    // or just generally high z-index.
    z-index: 50; 

    .body{
        box-sizing: border-box;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .nav{
            display: flex;
            flex-direction: column;
            font-size: 56px;
            gap: 12px;
            margin-top: 80px;

            .header{
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
            }

            a{
                text-decoration: none;
                color: var(--main-white);
                font-weight: 300;
            }
            
        }
    }
}
