.backboard{
  width: 100dvw;
  height: 100dvh;
  position:relative;
  left:0;
  top:0;
  // background-image:  url("https://raw.githubusercontent.com/keiyashi/codepen-example/refs/heads/main/pic-37-invert.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}