.link{
    position: relative;
    display: flex;
    align-items: center;

    .indicator{
        width: 8px;
        height: 8px;
        background-color: var(--rs-lilac);
        border-radius: 50%;
        position: absolute;
        left: -28px;
    }
}
